/* 
 * hRecipe Styles
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);
 
#recipress_recipe {
	-webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 5px; /* FF1-3.6 */
    border-radius: 5px;
	margin:1em 0;
	padding:1em;
}

#recipress_recipe.recipress-light {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.05);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C000000,endColorstr=#0C000000);
			zoom: 1;
}

#recipress_recipe.recipress-dark {
	background-color: transparent;
	background-color: rgba(255, 255, 255, 0.05); 
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0CFFFFFF,endColorstr=#0CFFFFFF);
			zoom: 1;
}

#recipress_recipe.recipress-recipress {
	background:#e0e0e0 url(../img/texture.jpg);
	color:#555;
	font-family:Ubuntu, sans-serif;
}

#recipress_recipe.recipress-recipress img {
	display:block;
	padding:0 !important;
	border:5px solid #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 0 1px #bbb, 0 2px 5px rgba(0,0,0,.25);
	-moz-box-shadow:0 0 0 1px #bbb, 0 2px 5px rgba(0,0,0,.25);
	box-shadow:0 0 0 1px #bbb, 0 2px 5px rgba(0,0,0,.25);
}

#recipress_recipe.recipress-light img {
	background:#fff;
}

#recipress_recipe.recipress-dark img {
	background:#000;
}

#recipress_recipe .seo_only {
	display:none;
}

#recipress_recipe .recipe-details,
#recipress_recipe .recipe-taxes {
	margin:1em 0 !important;
	padding:.5em 0 !important;
	line-height:1.5em;
	border-bottom:1px dotted #aaa;
}

#recipress_recipe .recipe-taxes {
	border-top:1px dotted #aaa;
	border-bottom:0;
	margin-bottom:0 !important;
}

#recipress_recipe .recipe-details li,
#recipress_recipe .recipe-taxes li {
	list-style:none;
	font-size:12px;
}

#recipress_recipe .recipe-details li,
#recipress_recipe .recipe-taxes li {
	display:inline-block;
	padding-right:2em;
}

#recipress_recipe .recipe-details li.clear_items {
	display:block;
}

#recipress_recipe .recipe-details li.recipe_time:last-child,
#recipress_recipe .recipe-taxes li:last-child {
	padding-right:0;
}

#recipress_recipe li .notes {
	font-size:12px;
	opacity: 0.66;
 	filter: alpha(opacity=66);
}

#recipress_recipe .recipe-details li b,
#recipress_recipe .recipe-taxes li b,
#recipress_recipe.recipress-recipress h3 {
	text-transform:uppercase;
	font-size:10px;
}

#recipress_recipe .summary {
	font-style:italic;
}

#recipress_recipe h3 {
	clear:none;
	margin:1.5em 0 0;
}

#recipress_recipe.recipress-light h2,
#recipress_recipe.recipress-light h3,
#recipress_recipe.recipress-light b,
#recipress_recipe.recipress-recipress h2,
#recipress_recipe.recipress-recipress h3,
#recipress_recipe.recipress-recipress b {
	color:#333 !important;
}

#recipress_recipe.recipress-dark h2,
#recipress_recipe.recipress-dark h3,
#recipress_recipe.recipress-dark b {
	color:#fff !important;
}

.recipress_credit {
	font-size:11px;
	margin:10px 0 0;
	font-style:italic;
	opacity:.5;
	filter: alpha(opacity=50);
}

.recipress_credit:hover {
	opacity:1;
	filter: alpha(opacity=100);
}

.recipress-thumb {
	width:50px;
	height:auto;
}

.recipress-recent li {
	clear:left;
}

#recipress_recipe img.align-thumbnail,
#recipress_recipe img.align-medium {
	float:right;
	margin-left:20px;
}

#recipress_recipe img.align-large,
#recipress_recipe img.align-full {
	margin:15px 0;
	display:block;
	max-width:98%;
	height:auto;
}